{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}
{%- unless skip_styles -%}
  {{ 'component-rating.css' | asset_url | stylesheet_tag }}
  {{ 'component-volume-pricing.css' | asset_url | stylesheet_tag }}

  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
  {{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- endunless -%}
{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if card_product.featured_media -%}
          <a href="{{ card_product.url }}" class="produto-comprar">
            <div class="card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
              <div class="media media--transparent media--hover-effect">
                {% if card_product.media[0].media_type == 'image' %}
                  
                  {% comment %} Valida se é a categoria de Agro Western {% endcomment %}
                  {% assign collection_founded = false  %}
                  {% for collection in card_product.collections  %}
                    {% if collection.title contains 'Agro Western' and current_collection == 'Agro Western' %} 
                      {% assign collection_founded = true %}
                    {% endif %}
                  {% endfor %}

                  {% comment %} Se existir a tag 'exibir_foto_secundaria' no produto, a imagem secundaria e exibida {% endcomment %}
                  {% if card_product.tags contains 'exibir_foto_secundaria' and collection_founded %} 
                    <span class="show-console" style="display:none">{{ current_collection }}</span>
                    <img
                      srcset="
                        {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                      "
                      src="{{ card_product.media[1] | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                      alt=""
                      class="motion-reduce"
                      loading="lazy"
                      width="{{ card_product.media[1].width }}"
                      height="{{ card_product.media[1].height }}"
                    >
                  {% else %}
                    <img
                      srcset="
                        {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                      "
                      src="{{ card_product.featured_media | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                      alt="{{ card_product.featured_media.alt | escape }}"
                      class="motion-reduce"
                      {% unless lazy_load == false %}
                        loading="lazy"
                      {% endunless %}
                      width="{{ card_product.featured_media.width }}"
                      height="{{ card_product.featured_media.height }}"
                    >
                  {% endif %}

                  {% comment %} Foto de hover do card, caso seja ativado {% endcomment %}
                  {%- if card_product.media[1] != null and show_secondary_image -%}                    
                    <img
                      srcset="
                        {%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                        {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                        {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                        {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                        {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                        {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w
                      "
                      src="{{ card_product.media[1] | image_url: width: 533 }}"
                      sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                      alt=""
                      class="motion-reduce"
                      loading="lazy"
                      width="{{ card_product.media[1].width }}"
                      height="{{ card_product.media[1].height }}"
                    >
                  {%- endif -%}
                {% elsif card_product.media[0].media_type == 'video' %}
                  <style>.video_tag video{ object-fit: cover;width:100%;height:100%}</style>
                  <div class="video_tag">
                    {{ card_product.media[0] | video_tag: autoplay: true, loop: true, muted: true, controls: false  }}
                  </div>
                {% endif  %}
              </div>
            </div>
          </a>
        {%- endif -%}
        <a href="{{ card_product.url }}" class="produto-comprar">
          <div class="card__content">
            <div class="card__information">
              <h3
                class="card__heading"
                {% if card_product.featured_media == null and settings.card_style == 'standard' %}
                  id="title-{{ section_id }}-{{ card_product.id }}"
                {% endif %}
              >
                {{ card_product.title | escape }}
              </h3>
            </div>

            {% comment %} {%- if card_product.tags contains 'selo_novo' -%}
              <div class="card__badge {{ settings.badge_position }}">
                <span
                  id="LaunchBadge-{{ section_id }}-{{ card_product.id }}"
                  class="badge badge--top-left color-accent-1"
                >
                  NOVO
                </span>
              </div>
            {%- endif -%} {% endcomment %}

            <div class="card__badge {{ settings.badge_position }}">
              {%- if card_product.available == false -%}
                <span
                  id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                  class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
                >
                  {{- 'products.product.sold_out' | t -}}
                </span>
              {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
                <span
                  id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
                  class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
                >
                  {{-
                    card_product.compare_at_price
                    | minus: card_product.price
                    | times: 100
                    | divided_by: card_product.compare_at_price
                    | floor
                  -}}
                  % OFF
                  <!-- {{- 'products.product.on_sale' | t -}} -->
                </span>
              {%- endif -%}  
              {% if card_product.tags contains 'Envio Imediato' %}
                <span
                  id="EnvioFullBadge-{{ section_id }}-{{ card_product.id }}"
                  class="badge color-{{ settings.sale_badge_color_scheme }}"
                  style="
                    background-color: black !important;
                    padding: .2rem 1rem !important;
                    display: block;
                    position: relative;
                    margin-top: .25rem;
                  "
                >
                  <div class="divindade" style="display: flex; align-items:center; gap:5px; font-weight:800;">
                    <svg width="20px" height="20px" viewBox="0 -1 26 26" fill="none" style="filter: invert(1)" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.31 16.826C12.2864 17.9963 11.3464 18.9278 10.2052 18.9118C9.06401 18.8957 8.14927 17.9382 8.15697 16.7676C8.16467 15.5971 9.09191 14.6522 10.2332 14.652C10.7897 14.6578 11.3212 14.8901 11.7106 15.2978C12.1001 15.7055 12.3157 16.2552 12.31 16.826V16.826Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2014 16.826C22.1778 17.9963 21.2378 18.9278 20.0966 18.9118C18.9554 18.8957 18.0407 17.9382 18.0484 16.7676C18.0561 15.5971 18.9833 14.6522 20.1246 14.652C20.6811 14.6578 21.2126 14.8901 21.602 15.2978C21.9915 15.7055 22.2071 16.2552 22.2014 16.826V16.826Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                      <path d="M17.8032 17.576C18.2174 17.576 18.5532 17.2402 18.5532 16.826C18.5532 16.4118 18.2174 16.076 17.8032 16.076V17.576ZM12.31 16.076C11.8958 16.076 11.56 16.4118 11.56 16.826C11.56 17.2402 11.8958 17.576 12.31 17.576V16.076ZM17.0571 16.826C17.0571 17.2402 17.3928 17.576 17.8071 17.576C18.2213 17.576 18.5571 17.2402 18.5571 16.826H17.0571ZM18.5571 11.559C18.5571 11.1448 18.2213 10.809 17.8071 10.809C17.3928 10.809 17.0571 11.1448 17.0571 11.559H18.5571ZM17.8071 16.076C17.3928 16.076 17.0571 16.4118 17.0571 16.826C17.0571 17.2402 17.3928 17.576 17.8071 17.576V16.076ZM18.0518 17.576C18.466 17.576 18.8018 17.2402 18.8018 16.826C18.8018 16.4118 18.466 16.076 18.0518 16.076V17.576ZM22.189 16.0762C21.7749 16.0852 21.4465 16.4281 21.4555 16.8423C21.4644 17.2564 21.8074 17.5848 22.2215 17.5758L22.189 16.0762ZM24.4 14.485L25.1499 14.4718C25.1492 14.4331 25.1455 14.3946 25.1389 14.3565L24.4 14.485ZM24.63 11.4305C24.559 11.0224 24.1706 10.7491 23.7625 10.8201C23.3544 10.8911 23.0812 11.2794 23.1521 11.6875L24.63 11.4305ZM17.8031 6.127C17.3889 6.127 17.0531 6.46279 17.0531 6.877C17.0531 7.29121 17.3889 7.627 17.8031 7.627V6.127ZM21.2849 6.877L21.2849 7.62702L21.2897 7.62698L21.2849 6.877ZM22.8737 7.56387L22.327 8.07731L22.327 8.07731L22.8737 7.56387ZM23.4835 9.218L22.7342 9.18603C22.7319 9.23979 22.7354 9.29363 22.7446 9.34663L23.4835 9.218ZM23.1522 11.6876C23.2232 12.0957 23.6116 12.3689 24.0197 12.2979C24.4278 12.2268 24.701 11.8384 24.6299 11.4304L23.1522 11.6876ZM18.5531 6.877C18.5531 6.46279 18.2174 6.127 17.8031 6.127C17.3889 6.127 17.0531 6.46279 17.0531 6.877H18.5531ZM17.0531 11.559C17.0531 11.9732 17.3889 12.309 17.8031 12.309C18.2174 12.309 18.5531 11.9732 18.5531 11.559H17.0531ZM17.0531 6.877C17.0531 7.29121 17.3889 7.627 17.8031 7.627C18.2174 7.627 18.5531 7.29121 18.5531 6.877H17.0531ZM17.8031 6.077L17.0531 6.0722V6.077H17.8031ZM16.7657 5L16.77 4.25H16.7657V5ZM7.42037 5L7.42037 4.24999L7.41679 4.25001L7.42037 5ZM6.68411 5.31693L6.14467 4.79587L6.14467 4.79587L6.68411 5.31693ZM6.382 6.075L7.13201 6.075L7.13199 6.07158L6.382 6.075ZM6.382 15.75L7.132 15.7534V15.75H6.382ZM6.68411 16.5081L6.14467 17.0291L6.14467 17.0291L6.68411 16.5081ZM7.42037 16.825L7.41679 17.575H7.42037V16.825ZM8.1526 17.575C8.56681 17.575 8.9026 17.2392 8.9026 16.825C8.9026 16.4108 8.56681 16.075 8.1526 16.075V17.575ZM17.8051 10.808C17.3909 10.808 17.0551 11.1438 17.0551 11.558C17.0551 11.9722 17.3909 12.308 17.8051 12.308V10.808ZM23.893 12.308C24.3072 12.308 24.643 11.9722 24.643 11.558C24.643 11.1438 24.3072 10.808 23.893 10.808V12.308ZM1 6.25C0.585786 6.25 0.25 6.58579 0.25 7C0.25 7.41421 0.585786 7.75 1 7.75V6.25ZM4.05175 7.75C4.46596 7.75 4.80175 7.41421 4.80175 7C4.80175 6.58579 4.46596 6.25 4.05175 6.25V7.75ZM1.975 9.25C1.56079 9.25 1.225 9.58579 1.225 10C1.225 10.4142 1.56079 10.75 1.975 10.75V9.25ZM3.925 10.75C4.33921 10.75 4.675 10.4142 4.675 10C4.675 9.58579 4.33921 9.25 3.925 9.25V10.75ZM2.56975 12.25C2.15554 12.25 1.81975 12.5858 1.81975 13C1.81975 13.4142 2.15554 13.75 2.56975 13.75V12.25ZM3.925 13.75C4.33921 13.75 4.675 13.4142 4.675 13C4.675 12.5858 4.33921 12.25 3.925 12.25V13.75ZM17.8032 16.076H12.31V17.576H17.8032V16.076ZM18.5571 16.826V11.559H17.0571V16.826H18.5571ZM17.8071 17.576H18.0518V16.076H17.8071V17.576ZM22.2215 17.5758C23.8876 17.5397 25.1791 16.1341 25.1499 14.4718L23.6501 14.4982C23.6655 15.3704 22.9939 16.0587 22.189 16.0762L22.2215 17.5758ZM25.1389 14.3565L24.63 11.4305L23.1521 11.6875L23.6611 14.6135L25.1389 14.3565ZM17.8031 7.627H21.2849V6.127H17.8031V7.627ZM21.2897 7.62698C21.6768 7.62448 22.0522 7.7847 22.327 8.07731L23.4204 7.05042C22.8641 6.4581 22.0909 6.12177 21.28 6.12702L21.2897 7.62698ZM22.327 8.07731C22.6025 8.37065 22.7519 8.7712 22.7342 9.18603L24.2328 9.24997C24.2675 8.43728 23.976 7.642 23.4204 7.05042L22.327 8.07731ZM22.7446 9.34663L23.1522 11.6876L24.6299 11.4304L24.2224 9.08937L22.7446 9.34663ZM17.0531 6.877V11.559H18.5531V6.877H17.0531ZM18.5531 6.877V6.077H17.0531V6.877H18.5531ZM18.5531 6.0818C18.5562 5.60485 18.3745 5.14259 18.0422 4.79768L16.9619 5.83829C17.0188 5.8974 17.0537 5.98123 17.0532 6.0722L18.5531 6.0818ZM18.0422 4.79768C17.7094 4.45212 17.2522 4.25277 16.77 4.25001L16.7615 5.74999C16.8331 5.7504 16.9056 5.77984 16.9619 5.83829L18.0422 4.79768ZM16.7657 4.25H7.42037V5.75H16.7657V4.25ZM7.41679 4.25001C6.93498 4.25231 6.4778 4.45098 6.14467 4.79587L7.22355 5.83799C7.27989 5.77967 7.3524 5.75033 7.42396 5.74999L7.41679 4.25001ZM6.14467 4.79587C5.81216 5.1401 5.62983 5.60177 5.63201 6.07843L7.13199 6.07158C7.13158 5.98066 7.16659 5.89696 7.22355 5.83799L6.14467 4.79587ZM5.632 6.075V15.75H7.132V6.075H5.632ZM5.63201 15.7466C5.62983 16.2232 5.81216 16.6849 6.14467 17.0291L7.22355 15.987C7.16659 15.928 7.13158 15.8443 7.13199 15.7534L5.63201 15.7466ZM6.14467 17.0291C6.4778 17.374 6.93498 17.5727 7.41679 17.575L7.42396 16.075C7.3524 16.0747 7.27988 16.0453 7.22355 15.987L6.14467 17.0291ZM7.42037 17.575H8.1526V16.075H7.42037V17.575ZM17.8051 12.308H23.893V10.808H17.8051V12.308ZM1 7.75H4.05175V6.25H1V7.75ZM1.975 10.75H3.925V9.25H1.975V10.75ZM2.56975 13.75H3.925V12.25H2.56975V13.75Z" fill="#000000"></path>
                    </svg>
                    ENVIO FULL 
                  </div>
                </span>
              {% endif %}
            </div>
          </div>
        </a>
        <div class="botoes-produto">
          <!--
            <a href="" class="produto-favorito">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="25.007"
                height="25.008"
                viewBox="0 0 25.007 25.008"
              >
                <defs>
                  <clipPath id="clip-path">
                    <path id="path3171" d="M0-682.665H25.007v25.008H0Z" transform="translate(-1.44 681.225)" fill="#fffcf4"/>
                  </clipPath>
                </defs>
                <g id="vitrine_favoritos" transform="translate(1.44 684.105)">
                  <g id="g3167" transform="translate(0 -682.665)">
                    <g id="g3169" clip-path="url(#clip-path)">
                      <g id="g3175" transform="translate(0.649 0.649)">
                        <path id="path3177" d="M-621.8-310.9a10.434,10.434,0,0,1-10.434,10.434A10.434,10.434,0,0,1-642.665-310.9a10.434,10.434,0,0,1,10.434-10.434A10.434,10.434,0,0,1-621.8-310.9Z" transform="translate(642.665 321.333)" fill="none" stroke="#fffcf4" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                      <g id="g3179" transform="translate(5.495 7.246)">
                        <path id="path3181" d="M-196.268-23.462l-1,1-1-1a2.689,2.689,0,0,0-3.8,0,2.689,2.689,0,0,0,0,3.8l4.784,4.818.017-.017,4.8-4.8a2.689,2.689,0,0,0,0-3.8A2.689,2.689,0,0,0-196.268-23.462Z" transform="translate(202.855 24.25)" fill="none" stroke="#fffcf4" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          -->
          <a href="{{ card_product.url }}" class="produto-comprar">COMPRAR</a>
          <!-- <a
            href="https://wa.me/553432194697?text=Oi,%20vim%20da%20loja%20BRK%20Agro.%20Tenho%20interesse%20em%20comprar%20esse%20produto%20{{ shop.url }}{{ card_product.url }}"
            class="produto-whatsapp"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="21.999" height="22" viewBox="0 0 21.999 22">
              <g id="vitrine_whatsapp" transform="translate(0 0)">
                <path id="Caminho_21" data-name="Caminho 21" d="M16.546,13.644l-.008.069c-2.016-1-2.226-1.138-2.487-.748-.181.27-.707.884-.865,1.065s-.32.192-.592.069a7.439,7.439,0,0,1-2.2-1.361,8.316,8.316,0,0,1-1.522-1.9c-.269-.464.293-.53.8-1.5a.5.5,0,0,0-.023-.48c-.069-.137-.616-1.485-.845-2.022s-.446-.467-.616-.467a1.364,1.364,0,0,0-1.254.315c-1.479,1.626-1.106,3.3.159,5.087,2.488,3.256,3.813,3.855,6.237,4.688a3.792,3.792,0,0,0,1.723.111A2.821,2.821,0,0,0,16.9,15.266a2.269,2.269,0,0,0,.165-1.306c-.068-.124-.247-.192-.522-.316Z" transform="translate(-0.498 -0.53)" fill="#3cc13f"/>
                <path id="Caminho_22" data-name="Caminho 22" d="M18.809,3.161C11.761-3.652.1,1.29.093,10.9a10.849,10.849,0,0,0,1.462,5.449L0,22l5.807-1.514A10.973,10.973,0,0,0,22,10.907,10.811,10.811,0,0,0,18.8,3.2Zm1.358,7.715a9.126,9.126,0,0,1-13.76,7.795l-.33-.2-3.437.894.921-3.341-.219-.344A9.091,9.091,0,0,1,17.5,4.469a8.972,8.972,0,0,1,2.666,6.407Z" transform="translate(0 0)" fill="#3cc13f"/>
              </g>
            </svg>
          </a> -->
        </div>
      </div>
      <div class="card__content">
        <a
          href="{{ card_product.url }}"
          id="CardLink-{{ section_id }}-{{ card_product.id }}"
          class="full-unstyled-link"
          aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
        >
          <div class="card__information">
            <h3
              class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
              {% if card_product.featured_media or settings.card_style == 'card' %}
                id="title-{{ section_id }}-{{ card_product.id }}"
              {% endif %}
            >
              {{ card_product.title | escape }}
            </h3>
            <div class="card-information">
              {%- if show_vendor -%}
                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
              {%- endif -%}

              <span class="caption-large light">{{ block.settings.description | escape }}</span>

              {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
                {% liquid
                  assign rating_decimal = 0
                  assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                  if decimal >= 0.3 and decimal <= 0.7
                    assign rating_decimal = 0.5
                  elsif decimal > 0.7
                    assign rating_decimal = 1
                  endif
                %}
                <div
                  class="rating"
                  role="img"
                  aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}"
                >
                  <span
                    aria-hidden="true"
                    class="rating-star"
                    style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"
                  ></span>
                </div>
                <p class="rating-text caption">
                  <span aria-hidden="true">
                    {{- card_product.metafields.reviews.rating.value }} /
                    {{ card_product.metafields.reviews.rating.value.scale_max -}}
                  </span>
                </p>
                <p class="rating-count caption">
                  <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                  <span class="visually-hidden">
                    {{- card_product.metafields.reviews.rating_count }}
                    {{ 'accessibility.total_reviews' | t -}}
                  </span>
                </p>
              {%- endif -%}

              {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
              <p class="preco-parcelado">
                em até <span>3x</span> de <span>{{ card_product.price | divided_by: 3 | money }}</span> sem juros
              </p>
              {% comment %} <p class="preco-pix">
                ou <span>{{ card_product.price | times: 0.95 | money }}</span> à vista no PIX
              </p> {% endcomment %}
              {%- if card_product.quantity_price_breaks_configured? -%}
                {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                  {% liquid
                    assign quantity_rule = card_product.selected_or_first_available_variant.quantity_rule
                    assign has_qty_rules = false
                    if quantity_rule.increment > 1 or quantity_rule.min > 1 or quantity_rule.max != null
                      assign has_qty_rules = true
                    endif
                  %}
                  <quantity-popover>
                    <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-only button button button--tertiary medium-hide small-hide">
                      <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                    </button>
                    <button class="card__information-volume-pricing-note card__information-volume-pricing-note--button card__information-volume-pricing-note--button-{{ settings.card_text_alignment }} quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide">
                      <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                    </button>
                {% else %}
                  <div class="card__information-volume-pricing-note">
                    <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                  </div>
                {% endif %}
                {% if card_product.variants.size == 1 and quick_add == 'bulk' %}
                  <div
                    class="global-settings-popup quantity-popover__info"
                    tabindex="-1"
                    hidden
                    id="quantity-popover-info-{{ card_product.selected_or_first_available_variant.id }}"
                  >
                    {%- if has_qty_rules -%}
                      <div class="quantity__rules caption no-js-hidden">
                        {%- if quantity_rule.increment > 1 -%}
                          <span class="divider">
                            {{- 'products.product.quantity.multiples_of' | t: quantity: quantity_rule.increment -}}
                          </span>
                        {%- endif -%}
                        {%- if quantity_rule.min > 1 -%}
                          <span class="divider">
                            {{- 'products.product.quantity.min_of' | t: quantity: quantity_rule.min -}}
                          </span>
                        {%- endif -%}
                        {%- if quantity_rule.max != null -%}
                          <span class="divider">
                            {{- 'products.product.quantity.max_of' | t: quantity: quantity_rule.max -}}
                          </span>
                        {%- endif -%}
                      </div>
                    {%- endif -%}
                    <button
                      class="button-close button button--tertiary large-up-hide"
                      type="button"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {{- 'icon-close.svg' | inline_asset_content -}}
                    </button>
                    {%- if card_product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                      <volume-pricing class="parent-display">
                        <ul class="list-unstyled">
                          <li>
                            <span>{{ card_product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                            {%- assign price = card_product.selected_or_first_available_variant.price
                              | money_with_currency
                            -%}
                            <span>{{ 'sections.quick_order_list.each' | t: money: price }}</span>
                          </li>
                          {%- for price_break in card_product.selected_or_first_available_variant.quantity_price_breaks -%}
                            <li>
                              <span>
                                {{- price_break.minimum_quantity -}}
                                <span aria-hidden="true">+</span></span
                              >
                              {%- assign price = price_break.price | money_with_currency -%}
                              <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </volume-pricing>
                    {%- endif -%}
                  </div>
                  </quantity-popover>
                {% endif %}
              {%- endif -%}
            </div>
          </div>
        </a>
        <div class="botoes-produto mobile">
          <!--
            <a href="" class="produto-favorito">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="25.007"
                height="25.008"
                viewBox="0 0 25.007 25.008"
              >
                <defs>
                  <clipPath id="clip-path">
                    <path id="path3171" d="M0-682.665H25.007v25.008H0Z" transform="translate(-1.44 681.225)" fill="#fffcf4"/>
                  </clipPath>
                </defs>
                <g id="vitrine_favoritos" transform="translate(1.44 684.105)">
                  <g id="g3167" transform="translate(0 -682.665)">
                    <g id="g3169" clip-path="url(#clip-path)">
                      <g id="g3175" transform="translate(0.649 0.649)">
                        <path id="path3177" d="M-621.8-310.9a10.434,10.434,0,0,1-10.434,10.434A10.434,10.434,0,0,1-642.665-310.9a10.434,10.434,0,0,1,10.434-10.434A10.434,10.434,0,0,1-621.8-310.9Z" transform="translate(642.665 321.333)" fill="none" stroke="#fffcf4" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                      <g id="g3179" transform="translate(5.495 7.246)">
                        <path id="path3181" d="M-196.268-23.462l-1,1-1-1a2.689,2.689,0,0,0-3.8,0,2.689,2.689,0,0,0,0,3.8l4.784,4.818.017-.017,4.8-4.8a2.689,2.689,0,0,0,0-3.8A2.689,2.689,0,0,0-196.268-23.462Z" transform="translate(202.855 24.25)" fill="none" stroke="#fffcf4" stroke-miterlimit="10" stroke-width="2"/>
                      </g>
                    </g>
                  </g>
                </g>
              </svg>
            </a>
          -->
          <a href="{{ card_product.url }}" class="produto-comprar">COMPRAR</a>
          <!-- <a
            href="https://wa.me/553432194697?text=Oi,%20vim%20da%20loja%20BRK%20Agro.%20Tenho%20interesse%20em%20comprar%20esse%20produto%20{{ shop.url }}{{ card_product.url }}"
            class="produto-whatsapp"
            target="_blank"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="21.999" height="22" viewBox="0 0 21.999 22">
              <g id="vitrine_whatsapp" transform="translate(0 0)">
                <path id="Caminho_21" data-name="Caminho 21" d="M16.546,13.644l-.008.069c-2.016-1-2.226-1.138-2.487-.748-.181.27-.707.884-.865,1.065s-.32.192-.592.069a7.439,7.439,0,0,1-2.2-1.361,8.316,8.316,0,0,1-1.522-1.9c-.269-.464.293-.53.8-1.5a.5.5,0,0,0-.023-.48c-.069-.137-.616-1.485-.845-2.022s-.446-.467-.616-.467a1.364,1.364,0,0,0-1.254.315c-1.479,1.626-1.106,3.3.159,5.087,2.488,3.256,3.813,3.855,6.237,4.688a3.792,3.792,0,0,0,1.723.111A2.821,2.821,0,0,0,16.9,15.266a2.269,2.269,0,0,0,.165-1.306c-.068-.124-.247-.192-.522-.316Z" transform="translate(-0.498 -0.53)" fill="#3cc13f"/>
                <path id="Caminho_22" data-name="Caminho 22" d="M18.809,3.161C11.761-3.652.1,1.29.093,10.9a10.849,10.849,0,0,0,1.462,5.449L0,22l5.807-1.514A10.973,10.973,0,0,0,22,10.907,10.811,10.811,0,0,0,18.8,3.2Zm1.358,7.715a9.126,9.126,0,0,1-13.76,7.795l-.33-.2-3.437.894.921-3.341-.219-.344A9.091,9.091,0,0,1,17.5,4.469a8.972,8.972,0,0,1,2.666,6.407Z" transform="translate(0 0)" fill="#3cc13f"/>
              </g>
            </svg>
            Comprar Whatsapp
          </a> -->
        </div>
        {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id %}
        {% if quick_add == 'standard' %}
          <div class="quick-add no-js-hidden">
            {%- liquid
              assign qty_rules = false
              if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                assign qty_rules = true
              endif
            -%}
            {%- if card_product.variants.size > 1 or qty_rules -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- if horizontal_quick_add -%}
                    <span class="icon-wrap">
                      {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                  {%- endif -%}
                  {%- render 'loading-spinner' -%}
                </button>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info"></div>
                </div>
              </quick-add-modal>
            {%- else -%}
              <product-form data-section-id="{{ section.id }}">
                {%- form 'product',
                  card_product,
                  id: product_form_id,
                  class: 'form',
                  novalidate: 'novalidate',
                  data-type: 'add-to-cart-form'
                -%}
                  <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    class="product-variant-id"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    {%- if horizontal_quick_add -%}
                      <span class="icon-wrap">
                        {{- 'icon-plus.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                    {%- render 'loading-spinner' -%}
                  </button>
                {%- endform -%}
              </product-form>
            {%- endif -%}
          </div>
        {% elsif quick_add == 'bulk' %}
          {% if card_product.variants.size == 1 %}
            <quick-add-bulk
              data-min="{{ card_product.selected_or_first_available_variant.quantity_rule.min }}"
              id="quick-add-bulk-{{ card_product.selected_or_first_available_variant.id }}-{{ section.id }}"
              class="quick-add-bulk"
              data-index="{{ card_product.selected_or_first_available_variant.id }}"
            >
              {% if card_product.selected_or_first_available_variant.available == false %}
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-sold-out-message="true"
                  disabled
                >
                  <span>{{ 'products.product.sold_out' | t }}</span>
                  <span class="sold-out-message hidden">
                    {{ 'products.product.sold_out' | t }}
                  </span>
                </button>
              {% else %}
                {% render 'quantity-input', variant: card_product.selected_or_first_available_variant, min: 0 %}
              {% endif %}
            </quick-add-bulk>
          {% else %}
            <div class="quick-add no-js-hidden">
              {%- liquid
                assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                  assign qty_rules = true
                endif
              -%}
              <modal-opener
                id="QuickBulk-{{ card_product.id }}-{{ section_id }}"
                data-modal="#QuickAddBulk-{{ card_product.id }}-{{ section.id }}"
              >
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  {%- render 'loading-spinner' -%}
                </button>
              </modal-opener>
              <modal-dialog
                id="QuickAddBulk-{{ card_product.id }}-{{ section_id }}"
                class="quick-add-modal color-{{ section.settings.color_scheme }}"
              >
                <div
                  role="dialog"
                  aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}"
                  aria-modal="true"
                  class="quick-add-modal__content quick-add-modal__content--bulk global-settings-popup"
                  tabindex="-1"
                >
                  <button
                    id="ModalClose-{{ card_product.id }}"
                    type="button"
                    class="quick-add-modal__toggle"
                    aria-label="{{ 'accessibility.close' | t }}"
                  >
                    {{- 'icon-close.svg' | inline_asset_content -}}
                  </button>
                  <div
                    id="QuickAddInfo-{{ card_product.id }}"
                    class="quick-add-modal__content-info quick-add-modal__content-info--bulk"
                  >
                    <div class="quick-add__content-info__media">
                      <div class="quick-add__info">
                        {%- if card_product.featured_media -%}
                          <div
                            class="quick-add__product-media"
                          >
                            <div class="quick-add__product-container global-media-settings">
                              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
                              <img
                                srcset="
                                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                                "
                                src="{{ card_product.featured_media | image_url: width: 533 }}"
                                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                                alt="{{ card_product.featured_media.alt | escape }}"
                                class="motion-reduce"
                                {% unless lazy_load == false %}
                                  loading="lazy"
                                {% endunless %}
                                width="{{ card_product.featured_media.width }}"
                                height="{{ card_product.featured_media.height }}"
                              >
                              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
                            </div>
                          </div>
                        {%- endif -%}
                        <a
                          {% if card_product == blank %}
                            role="link" aria-disabled="true"
                          {% else %}
                            href="{{ card_product.url }}"
                          {% endif %}
                          class="link product__view-details animate-arrow small-hide medium-hide"
                        >
                          {{ 'products.product.view_full_details' | t -}}
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </a>
                      </div>
                      <div class="quick-add-modal__content-info--bulk-details large-up-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3>{{ card_product.title | escape }}</h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                    </div>
                    <div>
                      <div class="quick-add-modal__content-info--bulk-details small-hide medium-hide">
                        <a href="{{ card_product.url }}" class="full-unstyled-link">
                          <h3 class="h2">
                            {{ card_product.title | escape }}
                          </h3>
                        </a>
                        {% render 'price', product: card_product, price_class: '', show_compare_at_price: true %}
                        {%- if card_product.quantity_price_breaks_configured? -%}
                          <div class="card__information-volume-pricing-note">
                            <span class="caption">{{ 'products.product.volume_pricing.note' | t }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                      <bulk-modal
                        id="QuickBulkModal-{{ card_product.id }}-{{ section_id }}"
                        data-url="{{ card_product.url }}"
                        data-section-id="{{ section_id }}"
                        data-product-id="{{ card_product.id }}"
                      >
                      </bulk-modal>
                    </div>
                  </div>
                </div>
              </modal-dialog>
            </div>
          {% endif %}
        {% endif %}
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
            >
              {{- 'products.product.sold_out' | t -}}
            </span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span
              id="Badge-{{ section_id }}-{{ card_product.id }}"
              class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
            >
              {{- 'products.product.on_sale' | t -}}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  {%- liquid
    assign ratio = 1
    assign placeholder = true
    if media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    endif
  -%}w
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if extend_height %} card--extend-height{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner{% if settings.card_style == 'standard' %} color-{{ settings.card_color_scheme }} gradient{% endif %} ratio"
      >
        <div
          class="card__media {% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}"
        >
          <div
            class="media media--transparent"
          >
            {%- if placeholder_image -%}
              {{ placeholder_image | placeholder_svg_tag: 'placeholder-svg' }}
            {%- else -%}
              {{ 'product-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card__content">
        <a role="link" aria-disabled="true" class="full-unstyled-link">
          <div class="card__information">
            <h3 class="card__heading card__heading--placeholder{% if settings.card_style == 'standard' %} h5{% endif %}">
              <a role="link" aria-disabled="true" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>
            </h3>
            <div class="card-information">
              {%- if show_vendor -%}
                <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
                <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
              {%- endif -%}
              {% render 'price', placeholder: placeholder, show_compare_at_price: true %}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{%- endif -%}
