{%- liquid
  if card_product and card_product != empty
    assign theme_st = settings
    assign show_sale = theme_st.show_sale
    assign show_new = theme_st.show_new
    assign show_pre_order = theme_st.show_pre_order
    assign show_sold_out = theme_st.show_sold_out
    assign option_name = 'Color'
    assign sale = false
    assign sold_out = false
    assign pre_order = false
    assign product_avail = false
    assign product_qty = 0
    assign sale_badge_addons = theme_st.sale_badge_addons
    assign countdown_style = theme_st.countdown_style
    assign scrolling_text = theme_st.scrolling_text
    assign sale_badge_type = theme_st.sale_badge_type
    if card_product.has_only_default_variant == false
      if type != 'price_badges'
        if card_product.options_with_values[0].name == option_name
          if card_product.options_with_values.size < 2
            for variant in card_product.variants limit: 1
              assign product_qty = product_qty | plus: variant.inventory_quantity
              assign product_avail = variant.available
              assign product_management = variant.inventory_management
              assign compare_at_price = variant.compare_at_price
              assign price = variant.price
            endfor
            if product_management != null
              if product_qty < 1
                if product_avail == true
                  assign pre_order = true
                  assign sold_out = false
                else
                  assign pre_order = false
                  assign sold_out = true
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign prod = card_product.variants | where: 'option1', card_product.options_with_values[0].values[0]
            assign product_management = 'shopify'
            for p in prod
              assign product_qty = product_qty | plus: p.inventory_quantity
              if p.available
                assign product_avail = true
              endif
              if p.inventory_management == null
                assign product_management = 'null'
              endif
              assign compare_at_price = prod[0].compare_at_price
              assign price = prod[0].price
              if product_management != 'null'
                if product_qty < 1
                  if product_avail == true
                    assign pre_order = true
                    assign sold_out = false
                  else
                    assign pre_order = false
                    assign sold_out = true
                  endif
                else
                  assign pre_order = false
                  assign sold_out = false
                endif
              else
                assign pre_order = false
                assign sold_out = false
              endif
            endfor
          endif
        else
          assign product_management = 'shopify'
          for variant in card_product.variants
            assign product_qty = product_qty | plus: variant.inventory_quantity
            if variant.available == true
              assign product_avail = true
            endif
            if variant.inventory_management == null
              assign product_management = 'null'
            endif
          endfor
          assign compare_at_price = card_product.variants[0].compare_at_price
          assign price = card_product.variants[0].price
          if product_management != 'null'
            if product_qty < 1
              if product_avail == true
                assign pre_order = true
                assign sold_out = false
              else
                assign pre_order = false
                assign sold_out = true
              endif
            else
              assign pre_order = false
              assign sold_out = false
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        endif
      else
        assign product_qty = product_qty | plus: card_product.selected_or_first_available_variant.inventory_quantity
        assign product_avail = card_product.selected_or_first_available_variant.available
        assign product_management = card_product.selected_or_first_available_variant.inventory_management
        assign compare_at_price = card_product.selected_or_first_available_variant.compare_at_price
        assign price = card_product.selected_or_first_available_variant.price
        if product_management != null
          if product_qty < 1
            if product_avail == true
              assign pre_order = true
              assign sold_out = false
            else
              assign pre_order = false
              assign sold_out = true
            endif
          else
            assign pre_order = false
            assign sold_out = false
          endif
        else
          assign pre_order = false
          assign sold_out = false
        endif
      endif
    else
      assign compare_at_price = card_product.compare_at_price
      assign price = card_product.price
      if card_product.available != true
        assign sold_out = true
      endif
      for v in card_product.variants
        if v.inventory_quantity
          assign product_qty = product_qty | plus: v.inventory_quantity
        endif
      endfor
      if product_qty < 1 and card_product.available == true
        assign pre_order = true
        assign sold_out = false
      endif
      for v in card_product.variants
        if v.inventory_management == null
          assign pre_order = false
          assign sold_out = false
        endif
      endfor
    endif
    if compare_at_price > price and compare_at_price != blank
      assign sale = true
    endif
  endif

  assign product_create_at = card_product.created_at | date: '%s'
  assign now_timestamp = 'now' | date: '%s'
  assign diff_seconds = now_timestamp | minus: product_create_at
  assign diff_days = diff_seconds | divided_by: 3600 | divided_by: 24
  assign new_badge_display_period = theme_st.new_badge_display_period
  assign subscription = card_product.selling_plan_groups.size
  assign show_product_badges = true
  if sticky == 'sticky'
    assign show_product_badges = false
  endif
-%}
{%- if sale
  or sold_out
  or pre_order
  or card_product.metafields.custom.custom_product_badge
  or show_new
  or subscription > 0
-%}
  {% if show_product_badges %}
    <div
      class="product__badges fs-small flex flex-column flex-wrap gap-custom {{ class }}"
      style="--gap: 3;"
      data-sale-color="{{ settings.sale_color }}"
      data-sold-out-color="{{ settings.sold_out_color }}"
      data-pre-order-color="{{ settings.pre_order_color }}"
      data-sale-bg="{{ settings.sale_background }}"
      data-sold-out-bg="{{ settings.sold_out_background }}"
      data-pre-order-bg="{{ settings.pre_order_background }}"
      data-show-sale="{{ show_sale }}"
      data-show-sold-out="{{ show_sold_out }}"
      data-show-preorder="{{ show_pre_order }}"
      data-sale-badge-type="{{ sale_badge_type }}"
    >
      {%- if sale and show_sale and sale_badge_type != 'scrolling' -%}
        <div
          class="product__badges-sale {% if sale_badge_type == 'price' %}product__badges-type-price{% elsif sale_badge_type == 'percent' %}product__badges-type-percent{% endif %} product__badges-inner align-self-start px-15 sale inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.sale_color }};--badges-bg:{{ settings.sale_background }};"
        >
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="17" height="17" style="filter: invert(1);">
          <path id="Path 0" fill-rule="evenodd" class="s0" d="m236.27 4.46c-4.83 1.77-11.24 4.79-14.26 6.71-3.01 1.93-15.59 13.48-27.95 25.68-14.31 14.12-24.07 22.88-26.87 24.12-3.57 1.59-8.82 2.07-28.5 2.63-21.91 0.62-24.77 0.93-31.25 3.35-3.92 1.47-9.59 4.1-12.6 5.84-3.02 1.74-8.69 6.42-12.61 10.39-3.92 3.98-8.71 10.19-10.64 13.8-1.93 3.62-4.53 10.52-5.77 15.35-1.86 7.24-2.25 12.11-2.23 27.95 0.02 15.05-0.37 20.37-1.81 24.67-1.57 4.72-4.91 8.61-24 27.96-13.03 13.22-24.05 25.41-26.74 29.6-2.51 3.92-5.58 10.33-6.81 14.25-1.23 3.92-2.51 11.32-2.83 16.45-0.46 7.38-0.09 11.26 1.78 18.64 1.31 5.12 4.17 12.52 6.36 16.44 2.97 5.32 9.79 12.99 26.8 30.15 19.23 19.41 23.16 23.93 25.03 28.78 1.93 5.01 2.22 8.29 2.21 25.22-0.01 16.1 0.37 20.98 2.24 28.23 1.24 4.82 3.84 11.73 5.77 15.34 1.93 3.62 6.72 9.83 10.64 13.8 3.92 3.98 10.33 9.02 14.25 11.21 3.92 2.18 11.07 4.98 15.9 6.22 7.22 1.85 12.15 2.24 27.95 2.22 15.13-0.02 20.35 0.36 24.67 1.82 4.71 1.58 8.74 5.04 28.51 24.45 14.14 13.89 25.56 24.15 29.6 26.59 3.62 2.19 10.52 5.26 15.35 6.83 6.63 2.15 11.04 2.84 18.09 2.84 7.04 0 11.46-0.69 18.09-2.84 4.82-1.57 11.73-4.64 15.35-6.83 4.04-2.44 15.45-12.7 29.6-26.59 19.76-19.41 23.8-22.87 28.5-24.45 4.32-1.46 9.55-1.84 24.67-1.82 15.81 0.02 20.73-0.37 27.96-2.22 4.82-1.24 11.98-4.04 15.9-6.22 3.92-2.19 10.35-7.23 14.3-11.2 4.84-4.87 8.51-9.9 11.25-15.45 2.24-4.52 4.8-11.67 5.69-15.89 1.05-5.02 1.62-14.23 1.63-26.59 0.01-16.35 0.32-19.69 2.24-24.67 1.88-4.84 5.9-9.47 25.52-29.32 20.4-20.66 23.79-24.6 27.4-31.8 2.26-4.52 4.88-11.92 5.84-16.44 1.16-5.54 1.53-11.09 1.13-17-0.33-4.82-1.58-11.98-2.8-15.9-1.21-3.92-4.25-10.33-6.77-14.25-2.69-4.19-13.7-16.38-26.74-29.6-19.09-19.35-22.42-23.24-24-27.96-1.42-4.25-1.83-9.64-1.83-24.12-0.01-12.16-0.57-21.3-1.62-26.31-0.89-4.22-3.45-11.37-5.69-15.9-2.74-5.54-6.41-10.57-11.25-15.44-3.95-3.97-9.64-8.65-12.66-10.39-3.01-1.74-8.69-4.37-12.61-5.84-6.47-2.42-9.33-2.73-31.24-3.35-19.68-0.56-24.93-1.04-28.51-2.63-2.79-1.24-12.55-10-26.86-24.12-12.36-12.2-24.94-23.75-27.96-25.67-3.01-1.92-9.67-4.99-14.8-6.82-8.13-2.89-10.71-3.3-20.28-3.22-9.25 0.09-12.34 0.61-19.73 3.32zm12.39 32.63c1.63-0.5 5.91-0.74 9.53-0.54 4.06 0.23 8.47 1.33 11.51 2.87 3.05 1.55 13.95 11.37 28.51 25.68 19.31 18.99 24.86 23.81 30.7 26.71 3.92 1.95 10.58 4.27 14.8 5.16 4.99 1.05 14.2 1.62 26.31 1.64 10.25 0.01 20.37 0.49 22.48 1.06 2.11 0.57 6.26 2.66 9.22 4.65 3.61 2.42 6.51 5.62 12.16 15.68l0.65 24.12c0.55 20.5 1 25.19 2.99 31.25 1.28 3.92 4.43 10.33 6.98 14.25 2.61 4 14.16 16.76 26.31 29.05 18.11 18.34 22.02 22.87 23.88 27.69 1.22 3.16 2.23 7.73 2.23 10.14 0 2.41-1.01 6.97-2.23 10.14-1.87 4.82-5.75 9.31-23.95 27.68-12.58 12.7-23.66 24.93-26.33 29.06-2.53 3.92-5.65 10.33-6.92 14.25-1.95 6.01-2.41 10.9-3.63 55.37l-3.28 5.89c-1.81 3.25-5.26 7.42-7.67 9.29-2.41 1.86-6.6 4.02-9.32 4.8-3.22 0.93-11.59 1.41-24.12 1.4-15.85-0.03-20.71 0.36-27.95 2.23-4.83 1.24-11.24 3.58-14.26 5.19-3.47 1.87-14.12 11.44-29.05 26.11-13.81 13.57-25.62 24.24-28.51 25.76-3.91 2.06-6.62 2.6-13.15 2.6-6.53 0-9.24-0.54-13.16-2.6-2.89-1.52-14.7-12.19-28.5-25.76-14.93-14.67-25.59-24.24-29.06-26.11-3.01-1.61-9.43-3.95-14.25-5.19-7.25-1.87-12.11-2.26-27.96-2.23-12.52 0.01-20.9-0.47-24.12-1.4-2.71-0.78-6.9-2.94-9.32-4.8-2.41-1.87-5.85-6.04-10.93-15.18l-0.69-24.12c-0.57-20.19-1.06-25.29-2.97-31.25-1.26-3.92-4.37-10.33-6.91-14.25-2.63-4.06-14.16-16.82-26.75-29.6-19.98-20.3-22.32-23.06-24.09-28.51q-1.96-6.03-1.4-11.51c0.31-3.02 1.43-7.21 2.49-9.32 1.05-2.11 11.61-13.71 23.46-25.77 11.88-12.08 23.64-25.12 26.2-29.05 2.56-3.92 5.7-10.33 6.97-14.25 1.96-6.02 2.42-10.89 3.66-55.37l3.38-6.03c2.26-4.03 5.17-7.23 8.77-9.65 2.97-1.99 7.12-4.08 9.23-4.65 2.11-0.57 12.22-1.05 22.47-1.06 12.12-0.02 21.33-0.59 26.32-1.64 4.22-0.89 10.88-3.21 14.8-5.16 5.84-2.9 11.39-7.73 30.7-26.71 12.96-12.74 25.2-24.05 27.19-25.14 2-1.08 4.96-2.37 6.58-2.87zm-54.06 86.12c-3.61 0.77-9.23 2.83-12.47 4.57-3.25 1.75-7.69 4.7-9.87 6.56-2.18 1.85-6.1 6.54-8.69 10.41-2.6 3.88-5.7 10.25-6.88 14.17-1.26 4.19-2.14 10.3-2.14 14.8 0.01 4.22 0.82 10.39 1.79 13.71 0.98 3.31 2.96 8.37 4.4 11.24 1.44 2.86 4.71 7.5 7.28 10.31 2.56 2.81 7.12 6.7 10.14 8.65 3.01 1.95 8.69 4.63 12.61 5.97 5.98 2.03 8.97 2.36 18.69 2.03 10.75-0.35 12.16-0.67 20.01-4.49 5.26-2.56 10.62-6.28 14.22-9.87 3.25-3.23 7.5-9.12 9.7-13.43 2.37-4.66 4.45-10.89 5.31-15.89 1.09-6.42 1.12-9.91 0.13-15.9-0.7-4.22-2.78-10.88-4.63-14.8-1.86-3.95-5.94-9.81-9.14-13.16-3.18-3.31-8.68-7.6-12.22-9.53-3.54-1.92-9.65-4.26-13.57-5.19-3.92-0.93-9.59-1.66-12.61-1.62-3.01 0.04-8.44 0.7-12.06 1.46zm2.74 36.07c2.73-1.82 5.43-2.57 9.32-2.59 3.92-0.01 6.56 0.69 9.22 2.48 2.06 1.37 4.69 3.73 5.85 5.23 1.45 1.88 2.17 4.72 2.3 8.97 0.13 4.79-0.35 6.94-2.12 9.32-1.26 1.7-3.97 4.22-6.03 5.59-2.46 1.64-5.33 2.49-8.39 2.47-2.57-0.02-6.46-0.9-8.66-1.95-2.2-1.06-5.02-3.4-6.25-5.21-1.24-1.81-2.47-5.51-2.73-8.22-0.32-3.38 0.18-6.29 1.59-9.23 1.14-2.36 3.79-5.45 5.9-6.86zm133.21-0.47c-1.81 1.15-41.37 40.24-87.92 86.89-63.77 63.9-84.8 85.61-85.33 88.09-0.39 1.81-0.88 3.78-1.09 4.39-0.21 0.6 0.13 3.07 0.74 5.48 0.62 2.41 2.68 6 4.59 7.98 1.9 1.98 4.94 4.04 6.75 4.57 1.81 0.53 4.28 0.79 5.48 0.57 1.21-0.21 3.68-0.69 5.48-1.06 2.5-0.51 23.8-21.15 88.61-85.85 46.92-46.85 86.02-86.54 86.89-88.2 0.86-1.66 1.57-5.36 1.56-8.22 0-3.28-0.81-6.53-2.19-8.77-1.2-1.96-3.79-4.55-5.75-5.75-2.31-1.42-5.49-2.19-9.05-2.19-3.49 0-6.67 0.75-8.77 2.07zm-39.47 130.41c-3.61 1.03-8.92 3.22-11.78 4.86-2.87 1.64-7.68 5.45-10.69 8.47-3.27 3.27-7.03 8.68-9.32 13.43-2.37 4.92-4.23 10.87-4.89 15.62-0.68 4.98-0.67 10.36 0.03 15.35 0.59 4.22 2.55 10.76 4.34 14.53 1.79 3.76 5.6 9.39 8.47 12.5 2.86 3.11 7.92 7.45 11.24 9.64 3.31 2.18 9.23 4.86 13.15 5.96 5.27 1.46 9.7 1.86 17 1.53 6.96-0.32 11.8-1.22 16.44-3.06 3.62-1.43 9.54-4.85 13.16-7.6 3.92-2.98 8.49-7.87 11.31-12.12 2.6-3.92 5.7-10.34 6.87-14.26 1.28-4.22 2.13-10.24 2.11-14.8-0.02-4.22-0.7-10.14-1.5-13.15-0.81-3.02-2.71-7.95-4.23-10.97-1.53-3.01-5.23-8.19-8.23-11.51-3-3.31-8.36-7.6-11.92-9.52-3.56-1.92-9.43-4.27-13.05-5.22-3.62-0.94-10.03-1.68-14.25-1.63-4.22 0.05-10.64 0.92-14.26 1.95zm6.06 35.53c2.57-1.74 5.31-2.48 9.22-2.5 4.46-0.03 6.47 0.62 10.21 3.29 3.2 2.28 5.05 4.61 5.9 7.43 0.68 2.26 1.02 6.08 0.76 8.5-0.27 2.41-1.49 5.86-2.72 7.67-1.23 1.81-4.04 4.15-6.24 5.21-2.2 1.05-6.1 1.93-8.66 1.95-3.06 0.02-5.94-0.83-8.4-2.47-2.05-1.37-4.76-3.89-6.03-5.59-1.65-2.24-2.29-4.73-2.29-8.97 0-4.23 0.64-6.73 2.29-8.96 1.27-1.7 3.95-4.21 5.96-5.56z"/>
        </svg>          
          {%- assign p = compare_at_price | minus: price -%}
          {% if sale_badge_type == 'price' %}
            {{ 'products.product.save' | t }}
            {{- p | money -}}
          {% elsif sale_badge_type == 'percent' %}
            {%- if p > 0 -%}
              {%- assign p = p | times: 100.0 | divided_by: compare_at_price | round -%}
            {%- endif -%}
            {{- p -}}
            % OFF
          {% else %}
            {{ 'products.product.label.sale_label' | t }}
          {%- endif %}
        </div>
      {%- endif -%}
      {%- if sold_out and show_sold_out -%}
        <div
          class="product__badges-sold-out product__badges-inner align-self-start px-15 sold-out inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.sold_out_color }};--badges-bg:{{ settings.sold_out_background }};"
        >
          {{ 'products.product.sold_out' | t }}
        </div>
      {%- else -%}
        {%- if pre_order and show_pre_order -%}
          <div
            class="product__badges-pre-order product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
            style="--badges-color: {{ settings.pre_order_color }};--badges-bg:{{ settings.pre_order_background }};"
          >
            {{ 'products.product.pre_order' | t }}
          </div>
        {%- endif -%}
      {%- endif -%}
      {% if show_new and diff_days < new_badge_display_period %}
        <div
          class="product__badges-new product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.new_color }};--badges-bg:{{ settings.new_background }};"
        >
          {{ 'products.product.label.new_label' | t }}
        </div>
      {% endif %}
      {% if card_product.metafields.custom.custom_product_badge %}
        <div
          class="product__badges-custom product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: {{ settings.custom_badge_color }};--badges-bg:{{ settings.custom_badge_background }};"
        >
          {{ card_product.metafields.custom.custom_product_badge }}
        </div>
      {% endif %}
      {% if subscription > 0 %}
        <div
          class="product__badges-custom subscription product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: #111;--badges-bg: #F8BA26;"
        >
          {{- 'products.product.label.subscription' | t -}}
        </div>
      {% endif %}
      {% if card_product.tags contains 'Envio Imediato' %}
        <div
          class="product__badges-custom subscription product__badges-inner align-self-start px-15 pre-order inline-flex content-center subheading_weight text-center lh-normal"
          style="--badges-color: #FFF;--badges-bg: #1E1E1E;"
        >
        <svg width="20px" height="20px" viewBox="0 -1 26 26" fill="none" style="filter: invert(1)" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.31 16.826C12.2864 17.9963 11.3464 18.9278 10.2052 18.9118C9.06401 18.8957 8.14927 17.9382 8.15697 16.7676C8.16467 15.5971 9.09191 14.6522 10.2332 14.652C10.7897 14.6578 11.3212 14.8901 11.7106 15.2978C12.1001 15.7055 12.3157 16.2552 12.31 16.826V16.826Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M22.2014 16.826C22.1778 17.9963 21.2378 18.9278 20.0966 18.9118C18.9554 18.8957 18.0407 17.9382 18.0484 16.7676C18.0561 15.5971 18.9833 14.6522 20.1246 14.652C20.6811 14.6578 21.2126 14.8901 21.602 15.2978C21.9915 15.7055 22.2071 16.2552 22.2014 16.826V16.826Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M17.8032 17.576C18.2174 17.576 18.5532 17.2402 18.5532 16.826C18.5532 16.4118 18.2174 16.076 17.8032 16.076V17.576ZM12.31 16.076C11.8958 16.076 11.56 16.4118 11.56 16.826C11.56 17.2402 11.8958 17.576 12.31 17.576V16.076ZM17.0571 16.826C17.0571 17.2402 17.3928 17.576 17.8071 17.576C18.2213 17.576 18.5571 17.2402 18.5571 16.826H17.0571ZM18.5571 11.559C18.5571 11.1448 18.2213 10.809 17.8071 10.809C17.3928 10.809 17.0571 11.1448 17.0571 11.559H18.5571ZM17.8071 16.076C17.3928 16.076 17.0571 16.4118 17.0571 16.826C17.0571 17.2402 17.3928 17.576 17.8071 17.576V16.076ZM18.0518 17.576C18.466 17.576 18.8018 17.2402 18.8018 16.826C18.8018 16.4118 18.466 16.076 18.0518 16.076V17.576ZM22.189 16.0762C21.7749 16.0852 21.4465 16.4281 21.4555 16.8423C21.4644 17.2564 21.8074 17.5848 22.2215 17.5758L22.189 16.0762ZM24.4 14.485L25.1499 14.4718C25.1492 14.4331 25.1455 14.3946 25.1389 14.3565L24.4 14.485ZM24.63 11.4305C24.559 11.0224 24.1706 10.7491 23.7625 10.8201C23.3544 10.8911 23.0812 11.2794 23.1521 11.6875L24.63 11.4305ZM17.8031 6.127C17.3889 6.127 17.0531 6.46279 17.0531 6.877C17.0531 7.29121 17.3889 7.627 17.8031 7.627V6.127ZM21.2849 6.877L21.2849 7.62702L21.2897 7.62698L21.2849 6.877ZM22.8737 7.56387L22.327 8.07731L22.327 8.07731L22.8737 7.56387ZM23.4835 9.218L22.7342 9.18603C22.7319 9.23979 22.7354 9.29363 22.7446 9.34663L23.4835 9.218ZM23.1522 11.6876C23.2232 12.0957 23.6116 12.3689 24.0197 12.2979C24.4278 12.2268 24.701 11.8384 24.6299 11.4304L23.1522 11.6876ZM18.5531 6.877C18.5531 6.46279 18.2174 6.127 17.8031 6.127C17.3889 6.127 17.0531 6.46279 17.0531 6.877H18.5531ZM17.0531 11.559C17.0531 11.9732 17.3889 12.309 17.8031 12.309C18.2174 12.309 18.5531 11.9732 18.5531 11.559H17.0531ZM17.0531 6.877C17.0531 7.29121 17.3889 7.627 17.8031 7.627C18.2174 7.627 18.5531 7.29121 18.5531 6.877H17.0531ZM17.8031 6.077L17.0531 6.0722V6.077H17.8031ZM16.7657 5L16.77 4.25H16.7657V5ZM7.42037 5L7.42037 4.24999L7.41679 4.25001L7.42037 5ZM6.68411 5.31693L6.14467 4.79587L6.14467 4.79587L6.68411 5.31693ZM6.382 6.075L7.13201 6.075L7.13199 6.07158L6.382 6.075ZM6.382 15.75L7.132 15.7534V15.75H6.382ZM6.68411 16.5081L6.14467 17.0291L6.14467 17.0291L6.68411 16.5081ZM7.42037 16.825L7.41679 17.575H7.42037V16.825ZM8.1526 17.575C8.56681 17.575 8.9026 17.2392 8.9026 16.825C8.9026 16.4108 8.56681 16.075 8.1526 16.075V17.575ZM17.8051 10.808C17.3909 10.808 17.0551 11.1438 17.0551 11.558C17.0551 11.9722 17.3909 12.308 17.8051 12.308V10.808ZM23.893 12.308C24.3072 12.308 24.643 11.9722 24.643 11.558C24.643 11.1438 24.3072 10.808 23.893 10.808V12.308ZM1 6.25C0.585786 6.25 0.25 6.58579 0.25 7C0.25 7.41421 0.585786 7.75 1 7.75V6.25ZM4.05175 7.75C4.46596 7.75 4.80175 7.41421 4.80175 7C4.80175 6.58579 4.46596 6.25 4.05175 6.25V7.75ZM1.975 9.25C1.56079 9.25 1.225 9.58579 1.225 10C1.225 10.4142 1.56079 10.75 1.975 10.75V9.25ZM3.925 10.75C4.33921 10.75 4.675 10.4142 4.675 10C4.675 9.58579 4.33921 9.25 3.925 9.25V10.75ZM2.56975 12.25C2.15554 12.25 1.81975 12.5858 1.81975 13C1.81975 13.4142 2.15554 13.75 2.56975 13.75V12.25ZM3.925 13.75C4.33921 13.75 4.675 13.4142 4.675 13C4.675 12.5858 4.33921 12.25 3.925 12.25V13.75ZM17.8032 16.076H12.31V17.576H17.8032V16.076ZM18.5571 16.826V11.559H17.0571V16.826H18.5571ZM17.8071 17.576H18.0518V16.076H17.8071V17.576ZM22.2215 17.5758C23.8876 17.5397 25.1791 16.1341 25.1499 14.4718L23.6501 14.4982C23.6655 15.3704 22.9939 16.0587 22.189 16.0762L22.2215 17.5758ZM25.1389 14.3565L24.63 11.4305L23.1521 11.6875L23.6611 14.6135L25.1389 14.3565ZM17.8031 7.627H21.2849V6.127H17.8031V7.627ZM21.2897 7.62698C21.6768 7.62448 22.0522 7.7847 22.327 8.07731L23.4204 7.05042C22.8641 6.4581 22.0909 6.12177 21.28 6.12702L21.2897 7.62698ZM22.327 8.07731C22.6025 8.37065 22.7519 8.7712 22.7342 9.18603L24.2328 9.24997C24.2675 8.43728 23.976 7.642 23.4204 7.05042L22.327 8.07731ZM22.7446 9.34663L23.1522 11.6876L24.6299 11.4304L24.2224 9.08937L22.7446 9.34663ZM17.0531 6.877V11.559H18.5531V6.877H17.0531ZM18.5531 6.877V6.077H17.0531V6.877H18.5531ZM18.5531 6.0818C18.5562 5.60485 18.3745 5.14259 18.0422 4.79768L16.9619 5.83829C17.0188 5.8974 17.0537 5.98123 17.0532 6.0722L18.5531 6.0818ZM18.0422 4.79768C17.7094 4.45212 17.2522 4.25277 16.77 4.25001L16.7615 5.74999C16.8331 5.7504 16.9056 5.77984 16.9619 5.83829L18.0422 4.79768ZM16.7657 4.25H7.42037V5.75H16.7657V4.25ZM7.41679 4.25001C6.93498 4.25231 6.4778 4.45098 6.14467 4.79587L7.22355 5.83799C7.27989 5.77967 7.3524 5.75033 7.42396 5.74999L7.41679 4.25001ZM6.14467 4.79587C5.81216 5.1401 5.62983 5.60177 5.63201 6.07843L7.13199 6.07158C7.13158 5.98066 7.16659 5.89696 7.22355 5.83799L6.14467 4.79587ZM5.632 6.075V15.75H7.132V6.075H5.632ZM5.63201 15.7466C5.62983 16.2232 5.81216 16.6849 6.14467 17.0291L7.22355 15.987C7.16659 15.928 7.13158 15.8443 7.13199 15.7534L5.63201 15.7466ZM6.14467 17.0291C6.4778 17.374 6.93498 17.5727 7.41679 17.575L7.42396 16.075C7.3524 16.0747 7.27988 16.0453 7.22355 15.987L6.14467 17.0291ZM7.42037 17.575H8.1526V16.075H7.42037V17.575ZM17.8051 12.308H23.893V10.808H17.8051V12.308ZM1 7.75H4.05175V6.25H1V7.75ZM1.975 10.75H3.925V9.25H1.975V10.75ZM2.56975 13.75H3.925V12.25H2.56975V13.75Z" fill="#000000"></path>
        </svg>&nbspENVIO FULL          
        </div>
      {% endif %}      
    </div>
    {% if type == 'product_item' %}
      {% if sale and sale_badge_addons == 'countdown' and card_product.metafields.custom.countdown_timer %}
        {{ 'countdown.css' | asset_url | stylesheet_tag }}
        <div
          class="hidden product__badges-sale-countdown transition btn {% if countdown_style == 'normal' %}bg-white{% endif %} shadow text-center content-center absolute z-5  left-1025-15 right-1025-15  bottom-1025-15  max-w-custom mx-auto fadeIn {{ countdown_style }}"
          style="--countdown-text-weight: var(--heading-weight);--btn-padding-y: {% if countdown_style == 'normal' %} 1.15rem {% else %} 1rem 0rem {%endif%}; --max-width: {% if countdown_style == 'normal' %}19rem {% else %} 100% {% endif %} ;"
        >
          <countdown-timer
            class="hidden {% if countdown_style == 'normal' %} primary-color{% endif %} flex flex-wrap fs-14 heading_weight {{ countdown_style }}"
            data-endtime="{{ card_product.metafields.custom.countdown_timer }}"
            data-days="{{ 'products.product.countdown.day' | t }}"
            data-hours="{{ 'products.product.countdown.hour' | t }}"
            data-mins="{{ 'products.product.countdown.min' | t }}"
            data-secs="{{ 'products.product.countdown.sec' | t }}"
          >
          </countdown-timer>
        </div>
      {% endif %}
      {% if sale and sale_badge_addons == 'scrolling' and scrolling_text != blank %}
        {{ 'marquee.css' | asset_url | stylesheet_tag }}
        {% liquid
          assign p = compare_at_price | minus: price
          assign percent_number = p | append: '%'
          if p > 0
            assign p = p | times: 100.0 | divided_by: compare_at_price | round
            assign percent_number = p | append: '%'
          endif
        %}
        <div
          class="product__badges-sale-scrolling marquee flex overflow-hidden w-full justify-center fs-custom absolute inset-x-0 bottom-0 pointer-none py-10 uppercase heading_weight"
          data-text-product-scrolling="{{ scrolling_text }}"
          style="--speed: 15s;--badges-color: {{ settings.scrolling_color }};--badges-bg:{{ settings.scrolling_background }};"
        >
          {%- for i in (0..4) -%}
            <div class="flex animation-marquee">
              {%- for i in (0..2) -%}
                <div class="flex gap align-center whitespace-nowrap rich__text-m0 lh-normal fs-small">
                  <span class="content-badges-scrolling">
                    {{- scrolling_text | replace: '[percent_sale]', percent_number -}}
                  </span>
                  {% render 'icon-lighting' %}
                </div>
              {%- endfor -%}
            </div>
          {%- endfor -%}
        </div>
      {% endif %}
    {% endif %}
  {% endif %}
{%- endif -%}
