{%- capture style -%}
--number: {{ section.blocks.size }};
{%- endcapture -%}
{% if section.blocks.size > 0 %}
  <mobile-navigation-bar
    class="mobile-navigation-bar transition flex invisible algin-center hidden-md fixed bottom-0 inset-x-0 z-10 bg-white shadow px-15 py-13 color-default show"
    style="{{ style | strip | strip_newlines }}"
  >
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'homepage' %}
          <a
            href="{{ routes.root_url }}"
            id="homepage-icon-bubble"
            class="no-underline lh-normal inline-flex content-center flex-column text-center heading-color px-5{% if request.path == "/" %} active{% endif %}"
            aria-label="{{ 'mobile_navbar.homepage' | t }}"
          >
            <svg width="20" height="20" fill="none">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 15.001v-2.5M8.392 2.353 2.617 6.977c-.65.517-1.066 1.609-.924 2.425L2.8 16.035c.2 1.183 1.333 2.141 2.533 2.141h9.332c1.192 0 2.333-.966 2.533-2.141l1.108-6.633c.134-.816-.283-1.908-.924-2.425l-5.775-4.616c-.891-.716-2.333-.716-3.216-.008Z"/>
            </svg>
            <span class="block fs-small heading-style">
              {{- 'mobile_navbar.homepage' | t -}}
            </span>
          </a>
        {% when 'whatsapp-contact' %}
          <a
            id="whatsapp-contact"
            href="https://wa.me/553432194697?text=Oi,%20vim%20da%20loja%20BRK%20AGRO!"
            class="no-underline lh-normal inline-flex content-center flex-column text-center heading-color px-5"
            aria-label="{{ 'mobile_navbar.whatsapp' | t }}"
          >
            <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
            </svg>           
            <span class="block fs-small heading-style">
              {{- 'mobile_navbar.whatsapp' | t -}}
            </span>
          </a>  
        {% when 'shop' %}
          <a
            href="{{ collections.envio-imediato-camisas.url }}"
            class="no-underline lh-normal inline-flex content-center flex-column text-center heading-color px-5{% if request.path == "/collections/envio-imediato-camisas" %} active{% endif %}"
            aria-label="{{ 'mobile_navbar.shop' | t }}"
          >
            <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="20" height="20">
              <style>
                .s0 { fill: #000000 } 
              </style>
              <g id="Layer 1">
                <path id="Path 0" fill-rule="evenodd" class="s0" d="m159.48 132c-2.07 2.2-3.7 4.57-3.64 5.25 0.06 0.69-0.77 7.1-1.84 14.25-1.07 7.15-1.96 13.34-1.98 13.75-0.01 0.41-15 0.86-33.32 1-28.34 0.21-33.66 0.49-35.75 1.83-1.35 0.87-3.29 3.34-4.32 5.5-1.29 2.69-1.69 5.02-1.27 7.42 0.33 1.93 1.44 4.63 2.47 6 1.02 1.38 2.94 3.06 4.27 3.74 1.75 0.9 10.75 1.23 33.4 1.23l31-0.01c-1.08 5.84-1.98 11.48-2.7 16.3l-1.3 8.77c-61.22 0.01-80.8 0.43-83 0.94-2.38 0.55-5.12 2.16-6.75 3.98-2.14 2.37-2.75 4.05-2.75 7.55 0 2.47 0.68 5.85 1.5 7.5 0.83 1.65 2.51 3.68 3.75 4.51 1.91 1.28 8.34 1.5 43 1.5l40.75-0.01c-0.63 3.49-3.19 21.15-6.08 41.5l-5.27 37c3.04 6.11 5.32 8.52 7.35 9.62 2.98 1.6 5.75 1.89 18.5 1.92l15 0.04c3.5 7.3 5.53 10.57 6.76 11.97 1.23 1.4 4.49 4.24 7.24 6.32 2.85 2.15 7.8 4.6 11.5 5.69 3.58 1.05 7.85 1.91 9.5 1.91 1.65 0 5.93-0.88 9.5-1.94 3.58-1.07 8.53-3.27 11-4.88 2.48-1.61 5.96-4.56 7.75-6.54 1.79-1.99 4.26-5.64 5.5-8.13l2.25-4.51 121 0.11c3.5 7.3 5.53 10.57 6.76 11.97 1.23 1.4 4.49 4.24 7.24 6.32 2.85 2.15 7.8 4.6 11.5 5.69 3.58 1.05 7.85 1.91 9.5 1.91 1.65 0 5.93-0.88 9.5-1.94 3.58-1.07 8.52-3.27 11-4.88 2.48-1.61 5.96-4.56 7.75-6.54 1.79-1.99 4.26-5.64 5.5-8.13l2.25-4.51c26.35 0.02 29.63-0.29 32.43-1.72 1.88-0.96 4.25-2.88 5.25-4.25 1.31-1.81 3.62-13.2 8.31-41 3.57-21.18 6.49-40.07 6.49-42 0-1.93-2.69-17.22-5.99-34-3.29-16.78-6.43-32.19-6.99-34.25-0.66-2.46-2.26-4.7-4.67-6.5l-3.67-2.75-58.66-0.5c0.8-5.04 1.64-10.78 2.38-16 0.86-6.06 1.03-10.59 0.46-12.5-0.48-1.65-1.43-3.7-2.11-4.55-0.68-0.85-2.35-2.31-3.73-3.25-2.33-1.6-10.79-1.71-121.14-1.71l-118.64 0.01zm19.53 22h203l-0.48 2.75c-0.26 1.51-4.99 34.7-10.52 73.75-5.53 39.05-10.27 72.23-11 76.5l-119.5 0.04-1.63-3.27c-0.9-1.8-3.6-5.46-6-8.13-2.78-3.09-6.74-5.98-10.87-7.96-4.79-2.28-8.35-3.21-13.5-3.52-4.81-0.29-8.88 0.13-13 1.33-3.3 0.96-7.58 2.76-9.5 3.99-1.93 1.23-5.42 4.32-7.75 6.88-2.34 2.55-4.93 5.99-5.75 7.64-1.44 2.87-1.78 3-8 3-4.53 0-6.51-0.38-6.51-1.25 0-0.69 1.81-14.08 4.02-29.75 2.21-15.68 4.24-29.52 4.51-30.75 0.47-2.21 0.76-2.25 14.73-2.26 12.48 0 14.65-0.25 17.5-2 1.79-1.1 3.96-3.68 4.84-5.74 0.97-2.29 1.36-5.02 1-7-0.33-1.79-1.83-4.63-3.34-6.31-1.64-1.81-4.38-3.42-6.75-3.97-2.2-0.51-8.39-0.94-13.75-0.95-9.45-0.02-9.75-0.09-9.74-2.27 0.01-1.24 0.68-6.53 1.49-11.75 0.8-5.23 1.47-9.84 1.48-10.25 0.01-0.42 16.33-0.75 36.27-0.76 34.47 0 36.41-0.1 39.5-2 1.78-1.09 3.98-3.46 4.87-5.24 1.1-2.2 1.43-4.55 1.03-7.25-0.36-2.49-1.64-5.05-3.37-6.78-1.53-1.52-4.58-3.2-6.78-3.72-2.2-0.53-18.4-0.96-68-0.97l0.74-3.76c0.4-2.08 0.74-4.79 0.75-6.02zm223.33 37.96l48.08 0.54 0.79 4c0.43 2.2 1.01 5.01 1.8 8.5h-16c-11.53 0-16.77 0.38-18.75 1.37-1.52 0.75-3.61 2.66-4.66 4.25-1.35 2.04-2.13 5.77-2.7 12.88-0.45 5.5-0.83 13.26-0.85 17.25-0.04 6.88 0.13 7.44 6.8 14.75l20.58 0.25c17.51 0.21 20.58 0.47 20.58 1.75 0 0.82-1.59 11.06-3.52 22.75-1.93 11.68-3.73 22.48-4.48 26.75l-17.5 0.04-1.64-3.27c-0.89-1.8-3.59-5.46-6-8.13-2.72-3.03-6.8-6.04-10.84-8-5.85-2.84-7.39-3.14-15.8-3.14-8.8 0-9.29-0.11-8.86-2 0.25-1.1 3.27-21.92 6.71-46.27zm-201.26 118.39c1.88-0.7 3.99-1.29 4.67-1.32 0.69-0.02 2.83 0.64 4.75 1.46 1.93 0.83 4.27 2.74 5.2 4.25 0.93 1.52 1.69 4.33 1.69 6.25 0 1.93-0.76 4.74-1.69 6.25-0.93 1.52-3.38 3.47-5.45 4.35-2.95 1.27-4.49 1.38-7.25 0.55-1.92-0.57-4.62-2.23-6-3.68-1.95-2.05-2.5-3.67-2.5-7.44 0-2.74 0.68-5.8 1.58-7.1 0.86-1.26 3.11-2.87 5-3.57zm192 0c1.88-0.7 3.99-1.29 4.67-1.32 0.69-0.02 2.83 0.64 4.75 1.46 1.93 0.83 4.27 2.74 5.2 4.25 0.93 1.52 1.69 4.33 1.69 6.25 0 1.93-0.76 4.74-1.69 6.25-0.93 1.52-3.38 3.47-5.45 4.35-2.95 1.27-4.49 1.38-7.25 0.55-1.92-0.57-4.62-2.23-6-3.68-1.95-2.05-2.5-3.67-2.5-7.44 0-2.74 0.68-5.8 1.58-7.1 0.86-1.26 3.11-2.87 5-3.57zm-361.08-39.95c-1.37 0.73-3.28 2.96-4.25 4.96-0.96 2-1.75 4.76-1.75 6.13 0 1.38 0.79 4.14 1.75 6.14 0.97 2 3.1 4.37 4.75 5.25 2.53 1.36 7.79 1.67 33.5 1.94 16.78 0.18 32.98 0 36-0.39 4.27-0.56 6.29-1.46 9-4 3.2-3 3.5-3.77 3.5-8.94 0-5.25-0.26-5.89-3.75-9.07l-3.75-3.43c-64.36 0.08-73.06 0.38-75 1.41z"/>
              </g>
            </svg>
            <span class="block fs-small heading-style">{{ 'mobile_navbar.shop' | t }}</span>
          </a>
        {% when 'account' %}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{% endif %}"
            class="no-underline lh-normal inline-flex content-center flex-column text-center heading-color px-5{% if request.path == "/account/login" or request.path == "/account" %} active{% endif %}"
            aria-label="{{ 'mobile_navbar.account' | t }}"
          >
            <svg width="20" height="20" fill="none">
              <g fill="currentColor"><path d="M18.887 17.699a10.285 10.285 0 0 0-3.768-3.704 10.353 10.353 0 0 0-10.24 0 10.285 10.285 0 0 0-3.768 3.704.87.87 0 0 0 .075.962c.073.09.164.165.268.217a.881.881 0 0 0 .44.114.829.829 0 0 0 .754-.42 8.515 8.515 0 0 1 3.12-3.068 8.572 8.572 0 0 1 8.48 0 8.514 8.514 0 0 1 3.12 3.068.878.878 0 0 0 1.195.315.808.808 0 0 0 .404-.516.869.869 0 0 0-.08-.672ZM10 11.803c1.416 0 2.775-.56 3.784-1.56 1.01-1.001 1.59-2.362 1.617-3.79a5.476 5.476 0 0 0-1.582-3.854 5.375 5.375 0 0 0-3.818-1.596 5.375 5.375 0 0 0-3.819 1.596 5.476 5.476 0 0 0-1.581 3.854 5.474 5.474 0 0 0 1.616 3.79A5.374 5.374 0 0 0 10 11.802Zm-3.6-5.35c0-.964.38-1.888 1.055-2.57a3.583 3.583 0 0 1 2.546-1.063c.955 0 1.87.382 2.545 1.064a3.65 3.65 0 0 1 1.055 2.569 3.65 3.65 0 0 1-1.055 2.569 3.583 3.583 0 0 1-2.545 1.064c-.955 0-1.87-.383-2.546-1.064a3.65 3.65 0 0 1-1.054-2.57Z"/></g>
            </svg>
            <span class="block fs-small heading-style">{{ 'mobile_navbar.account' | t }}</span>
          </a>
        {% when 'cart' %}
          <a
            id="cart-icon-bubble-mobile"
            href="{{ routes.cart_url }}"
            class="minicart__action no-underline lh-normal inline-flex content-center flex-column text-center heading-color {% if request.path == "/cart" %} active{% endif %}"
            aria-label="{{ 'mobile_navbar.cart' | t }}"
          >
            <span class="relative inline-flex">
              <svg width="20" height="20" fill="none">
                <path fill="currentColor" d="m16.102 4.278-1.2-1.649H6.098L4.898 4.278h11.204Zm2.23.307v.019h.018c.038.077.069.153.094.23a.56.56 0 0 1 .056.25v11.462c0 .333-.069.652-.206.959-.125.294-.294.55-.506.767-.212.23-.468.409-.768.536a2.233 2.233 0 0 1-.918.192H4.898c-.324 0-.637-.07-.937-.21a2.402 2.402 0 0 1-.749-.518 2.312 2.312 0 0 1-.525-.767 2.518 2.518 0 0 1-.187-.959V5.083a1.112 1.112 0 0 1 .075-.345l.038-.077a.3.3 0 0 0 .056-.076l2.398-3.26a.706.706 0 0 1 .28-.23A.71.71 0 0 1 5.705 1h9.592a.71.71 0 0 1 .356.096.706.706 0 0 1 .281.23l2.398 3.259ZM4.111 5.907v10.64c0 .102.018.204.056.306a.747.747 0 0 0 .43.44c.1.04.2.058.3.058h11.204a.74.74 0 0 0 .3-.057.748.748 0 0 0 .43-.44.887.887 0 0 0 .057-.308V5.907H4.11Zm8.786 2.454a.79.79 0 0 1 .225-.575.784.784 0 0 1 .58-.25c.213 0 .394.084.544.25a.758.758 0 0 1 .244.575c0 .562-.106 1.093-.319 1.591-.2.498-.48.933-.843 1.304-.362.37-.787.664-1.274.881a3.977 3.977 0 0 1-1.555.307c-.55 0-1.068-.102-1.555-.307A4.096 4.096 0 0 1 6.81 9.952c-.2-.498-.3-1.029-.3-1.591a.79.79 0 0 1 .225-.575.764.764 0 0 1 .562-.25c.225 0 .413.084.562.25a.758.758 0 0 1 .244.575c0 .345.062.665.187.958.125.294.3.55.525.767a2.259 2.259 0 0 0 1.686.729 2.258 2.258 0 0 0 1.686-.728c.225-.218.4-.474.525-.768.125-.293.187-.613.187-.958Z"/>
              </svg>
              {%- if cart != empty -%}
                <span class="absolute lh-1 cart-count h-count inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-10">
                  {%- if cart.item_count < 100 -%}
                    {{ cart.item_count }}
                  {%- else -%}
                    ~
                  {% endif %}
                  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                </span>
              {%- else -%}
                <span class="absolute lh-1 cart-count h-count inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-10">
                  <span aria-hidden="true">0</span>
                </span>
              {% endif %}
            </span>
            <span class="block fs-small heading-style">{{ 'mobile_navbar.cart' | t }}</span>
          </a>
        {% when 'wishlist' %}
          <a
            id="wishlist-icon-bubble-mobile"
            href="/pages/wishlist"
            class="wishlist-icon-bubble no-underline lh-normal inline-flex content-center flex-column text-center heading-color"
            aria-label="{{ 'mobile_navbar.wishlist' | t }}"
          >
            <span class="relative inline-flex">
              <svg width="22" height="20" fill="none">
                <path fill="currentColor" d="M19.389 2.646C18.35 1.589 16.977 1 15.549 1s-2.801.589-3.84 1.646L11 3.375l-.71-.73C9.256 1.583 7.878.993 6.448 1 5.019.993 3.644 1.583 2.61 2.646a5.496 5.496 0 0 0-1.19 1.82A5.847 5.847 0 0 0 1 6.647c0 .75.143 1.493.42 2.182a5.497 5.497 0 0 0 1.191 1.82l7.828 8.11c.077.072.163.132.256.178a.77.77 0 0 0 .61 0c.093-.046.18-.106.256-.178l7.828-8.11a5.497 5.497 0 0 0 1.19-1.82c.278-.689.421-1.431.421-2.182 0-.75-.143-1.493-.42-2.18a5.497 5.497 0 0 0-1.191-1.821Zm0 3.984a4.149 4.149 0 0 1-.285 1.531c-.19.485-.469.923-.82 1.287L11 17.008l-7.275-7.56a3.883 3.883 0 0 1-.836-1.283 4.129 4.129 0 0 1 0-3.071c.194-.485.479-.922.836-1.283.732-.755 1.709-1.173 2.722-1.165 1.018-.009 2 .409 2.738 1.165l1.254 1.307c.077.072.163.132.256.178a.77.77 0 0 0 .61 0c.093-.046.18-.106.256-.178l1.262-1.307c.732-.755 1.709-1.173 2.722-1.165 1.018-.009 2 .409 2.738 1.165.355.363.637.8.83 1.285.193.484.293 1.006.292 1.534h-.016Z"/>
              </svg>
              <span class="absolute lh-1 wishlist-count h-count inline-flex align-center justify-content-center rounded-50 overflow-hidden fs-10">
                0
              </span>
            </span>
            <span class="block fs-small heading-style">
              {{- 'mobile_navbar.wishlist' | t -}}
            </span>
          </a>
        {% when 'currency' %}
          <div class="lang__currency-on-nav mobile-navigation__currency lh-normal inline-flex content-center flex-column text-center heading-color">
            {%- render 'country-switcher' | type: 'mobile-navigation' -%}
          </div>
        {% when 'language' %}
          <div class="lang__currency-on-nav mobile-navigation__currency lh-normal inline-flex content-center flex-column text-center heading-color">
            {% render 'language-switcher' | type: 'mobile-navigation' %}
          </div>
      {% endcase %}
    {% endfor %}
  </mobile-navigation-bar>
{% endif %}
{% schema %}
{
  "name": "t:sections.mobile-navigation-bar.name",
  "tag": "section",
  "limit": 1,
  "enabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.mobile-navigation-bar.info"
    }
  ],
  "blocks": [
    {
      "type": "homepage",
      "name": "t:sections.mobile-navigation-bar.blocks.homepage",
      "limit": 1,
      "settings": []
    },
    {
      "type": "whatsapp-contact",
      "name": "WhatsApp",
      "limit": 1,
      "settings": []
    },
    {
      "type": "shop",
      "name": "t:sections.mobile-navigation-bar.blocks.shop",
      "limit": 1,
      "settings": []
    },
    {
      "type": "account",
      "name": "t:sections.mobile-navigation-bar.blocks.account",
      "limit": 1,
      "settings": []
    },
    {
      "type": "cart",
      "name": "t:sections.mobile-navigation-bar.blocks.cart",
      "limit": 1,
      "settings": []
    },
    {
      "type": "wishlist",
      "name": "t:sections.mobile-navigation-bar.blocks.wishlist",
      "limit": 1,
      "settings": []
    },
    {
      "type": "currency",
      "name": "t:sections.mobile-navigation-bar.blocks.currency",
      "limit": 1,
      "settings": []
    },
    {
      "type": "language",
      "name": "t:sections.mobile-navigation-bar.blocks.language",
      "limit": 1,
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "t:sections.mobile-navigation-bar.name",
      "category": "t:categories.layout",
      "blocks": [
        {
          "type": "homepage"
        },
        {
          "type": "whatsapp-contact"
        },
        {
          "type": "shop"
        },
        {
          "type": "account"
        },
        {
          "type": "wishlist"
        },
        {
          "type": "cart"
        }
      ]
    }
  ]
}
{% endschema %}
